.page {
    background-color: grey;
    background-image: url('https://www.sciencenews.org/sites/default/files/2018/05/main/articles/050718_EC_numbers_feat.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2em;
    margin: 40px;
    height: 100vh;
}

.title {
    margin-bottom: 80px;
}

.title::first-letter {
    text-transform: capitalize;
}

.input__box {
    margin: 20px 0;
}

.text {
    font-weight: bold;
}

.btn,
.reset--btn,
.tips::first-letter {
    text-transform: capitalize;
}

.number {
    width: 181px;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    color: greenyellow;
    font-weight: bold;
}

.btn,
.reset--btn {
    margin-top: 20px;
    margin-bottom: 100px;
    width: 181px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 20px;
}

.reset--btn {
    color: red;
    border: 1px solid red;
    transition: color ease 1s, border-color ease 1s, background-color ease 1s, transfrom ease 0.5s;
}

.reset--btn:hover {
    color: white;
    border-color: white;
    background-color: red;
    transform: scale(1.5);
}

.tips {
    margin-top: 150px;
    padding: 20px auto;
    font-weight: bold;
    color: rgb(235, 241, 241);
    border: 2px solid rgb(0, 110, 255);
}

.counter {
    color: red;
    position: fixed;
    font-size: 4rem;
    font-weight: bold;
    right: 40px;
    top: 40px;
}

.try--word {
    font-style: italic;
    text-transform: capitalize;
}

.tips:hover {
    color: yellow;
    border-color: yellow;
}